body{
  background-color: rgba(230 ,248, 166, .5);
}

.circle{
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background: red;
}

.stick{
  height: 7px;
  width: 2px;
  background: green;
  position: relative;
  left:18px;
  bottom:23px;
  transform: rotate(45deg);
}

.cherry{
  position: absolute;
  left: 167px;
  top:30px;
  z-index: 2;
  animation: move 100s linear;
  animation-delay: 2s;
}

@keyframes move{
    0% { transform: translateX(0px); }
    0.1% { transform: translateX(125px);}
    0.5%{ transform: translateX(125px);}
    1% { transform: translate(250px, 35px);}
    1.5%{ transform: translate(260px, 25px);}
    3.5%{ transform: translate(290px, 60px);}
    4%{ transform: translate(260px,100px);}
    6%{ transform: translate(250px, 145px);}
    6.5%{ transform: translate(360px, 145px);}
    8%{ transform: translate(430px, 90px);}
    11%{ transform: translate(420px, -5px);}
    15%{ transform: translate(575px, -5px);}
    17%{ transform: translate(555px, 70px);}
    19%{ transform: translate(585px, 105px);}
    20%{ transform: translate(660px, 105px);}
    24%{ transform: translate(665px, 265px);}
    27%{ transform: translate(800px, 265px);}
    28%{ transform: translate(820px, 240px);}
    29%{ transform: translate(800px, 210px);}
    30%{ transform: translate(740px, 210px);}
    31.5%{ transform: translate(740px, 150px);}
    37%{ transform: translate(960px, 150px);}
    40%{ transform: translate(960px, 265px);}
    42%{ transform: translate(1050px, 265px);}
    44%{ transform: translate(1050px, 145px);}
    49%{ transform: translate(1170px, 280px);}
    53.5%{ transform: translate(1170px, 145px);}
    58%{ transform: translate(1380px, 145px);}
    60.5%{ transform: translate(1380px, 223px);}
    62%{ transform: translate(1490px, 223px);}
    65%{ transform: translate(1490px, 290px);}
    66%{ transform: translate(1550px, 290px);}
    68%{ transform: translate(1550px, 210px);}
    71%{ transform: translate(1650px, 210px);}
    72%{ transform: translate(1700px, 290px);}
    78%{ transform: translate(1700px, 640px);}
    82%{ transform: translate(1950px, 640px);}
    86.5%{ transform: translate(1950px, 290px);}
    88.5%{ transform: translate(2140px, 290px);}
    90.5%{ transform: translate(2140px, 430px);}
    92%{ transform: translate(2000px, 430px);}
    95%{ transform: translate(2140px, 640px);}
    100% { transform: translate(2260px,540px);}
}


.icecream1{
  width: 100px;
  height: 20px;
  background: rgb(9, 225, 244);
  position: absolute;
  top: 135px;
  left: 20px;
  border-radius: 10px;
}

.icecream2{
  width: 80px;
  height: 20px;
  background:  rgb(9, 225, 244); 
  position: absolute;
  top: 105px;
  left: 30px;
  border-radius: 10px;
}

.icecream3{
  width: 60px;
  height: 20px;
  background: rgb(9, 225, 244); 
  position: absolute;
  top: 75px;
  left: 40px;
  border-radius: 10px;
}

.icecream4{
	width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid rgb(9, 225, 244);
    position: absolute;
    left: 55px;
    top:35px;
}
				

.icecream5{
  width: 100px;
  height: 20px;
  background: rgb(9, 225, 244); 
  position: absolute;
  top: 135px;
  left: 125px;
  border-radius: 10px;
}

.icecream6{
  width: 80px;
  height: 20px;
  background: rgb(9, 225, 244); 
  position: absolute;
  top: 105px;
  left: 135px;
  border-radius: 10px;
}

.icecream7{
  width: 60px;
  height: 20px;
  background: rgb(9, 225, 244); 
  position: absolute;
  top: 75px;
  left: 145px;
  border-radius: 10px;
}

.icecream8{
	width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid rgb(9, 225, 244);
    position: absolute;
    left: 160px;
    top:35px;
}

.fork{
    display: none;
}

.knife{
    display: none;
}

.spoon{
    display: none;
}


.tableware1{
   width: 8px;
   height: 100px;
   background-color: grey;
   position: absolute;
   left: 270px;
   top: 60px;
   transform: rotate(27deg);
}

.tableware2{
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 35px solid grey;
	transform: rotate(27deg);
    position: absolute;
    left: 278px;
    top: 55px;
}

.tableware3{
    width: 5px;
    height: 25px;
    background: grey;
    transform: rotate(27deg);
    position: absolute;
    left: 293px;
    top: 29px;
}

.tableware4{
    width: 5px;
    height: 25px;
    background: grey;
    transform: rotate(27deg);
    position: absolute;
    left: 303px;
    top: 33px;
}

.tableware5{
    width: 5px;
    height: 25px;
    background: grey;
    transform: rotate(27deg);
    position: absolute;
    left: 314px;
    top: 38px;
}

.tableware6{
    width: 8px;
    height: 80px;
    background: grey;
    position: absolute;
    left: 350px;
    top: 80px;
    transform: rotate(-27deg);
}

.tableware7{
    width: 16px;
    height:70px;
    background: grey;
    border-radius: 100% 0 0 100%;
    position: absolute;
    left: 312px;
    top: 26px;
    transform:rotate(-27deg);
}

.tableware8{
   width: 75px;
   height: 9px;
   background: grey;
   position: absolute;
   left: 250px;
   top: 115px;
}

.tableware9{
  width: 50px;
  height: 28px;
  background: grey;
  border-radius: 100%;
  position: absolute;
  left: 320px;
  top: 105px;
}

.lip1{
  width: 6px;
  height: 45px;
  background: rgb(250, 6, 75);
  position: absolute;
  left: 400px;
  top: 70px;
}

.lip2{
  width: 12px;
  height: 20px;
  background: rgb(250, 6, 75);
  position: absolute;
  left: 409px;
  top: 60px;
}

.lip3{
  width: 12px;
  height: 30px;
  background: rgb(250, 6, 75);
  position: absolute;
  left: 424px;
  top:45px;
}

.lip4{
  width: 12px;
  height: 40px;
  background: rgb(250, 6, 75);
  position: absolute;
  left: 440px;
  top: 30px;
}

.lip5{
  width: 12px;
  height: 50px;
  background: rgb(250, 6, 75);
  position: absolute;
  left: 457px;
  top:17px;
}

.lip6{
  width: 12px;
  height: 45px;
  background: rgb(250, 6, 75);
  position: absolute;
  left: 475px;
  top:25px;
}

.lip7{
  width: 12px;
  height: 20px;
  background: rgb(250, 6, 75);
  position: absolute;
  left: 409px;
  top: 110px;
}

.lip8{
  width: 12px;
  height: 30px;
  background: rgb(250, 6, 75);
  position: absolute;
  left: 424px;
  top:117px;
}

.lip9{
  width: 12px;
  height: 40px;
  background: rgb(250, 6, 75);
  position: absolute;
  left: 440px;
  top: 125px;
}

.lip10{
  width: 12px;
  height: 50px;
  background: rgb(250, 6, 75);
  position: absolute;
  left: 457px;
  top:130px;
}

.lip11{
  width: 12px;
  height: 45px;
  background: rgb(250, 6, 75);
  position: absolute;
  left: 475px;
  top:125px;
}

.lip12{
  width: 12px;
  height: 30px;
  background: rgb(250, 6, 75);
  position: absolute;
  left: 492px;
  top:50px;
}

.lip13{
  width: 12px;
  height: 30px;
  background: rgb(250, 6, 75);
  position: absolute;
  left: 492px;
  top:120px;
}

.lip{
  display: none;
  z-index: 3;
}


.tongue1{
  height: 6px;
  width: 47px;
  background: rgb(148, 34, 28);
  position: absolute;
  left:440px;
  top: 117px;
  display: none;
}

.tongue2{
  height: 6px;
  width: 85px;
  background: rgb(148, 34, 28);
  position: absolute;
  left:425px;
  top: 109px;
  display: none;
  
}

.tongue3{
  height: 6px;
  width: 70px;
  background: rgb(148, 34, 28);
  position: absolute;
  left: 437px;
  top: 100px;
  display: none;
}

.tongue4{
  height: 6px;
  width: 60px;
  background: rgb(148, 34, 28);
  position: absolute;
  left: 433px;
  top: 91px;
  display: none;
}

.tongue5{
  height: 6px;
  width: 50px;
  background: rgb(148, 34, 28);
  position: absolute;
  left: 423px;
  top: 82px;
  display: none;
}

.tongue6{
  height: 6px;
  width: 21px;
  background: black;
  position: absolute;
  left: 410px;
  top: 90px;
  display: none;
}

.tongue7{
  height: 6px;
  width: 18px;
  background: black;
  position: absolute;
  left: 416px;
  top: 98px;
  display: none;
}

.mouthtube1{
  height: 10px;
  width: 20px;
  background: rgb(248, 177, 212);
  position: absolute;
  left: 400px;
  top: 135px;
  display: none;
}

.mouthtube2{
  height: 15px;
  width: 40px;
  background: rgb(248, 177, 212);
  position: absolute;
  left:395px;
  top:150px;
  display: none;
}

.mouthtube3{
  height: 13px;
  width: 64px;
  background: rgb(248, 177, 212);
  position: absolute;
  left: 388px;
  top: 170px;
  display: none;
}

.mouthtube4{
 height: 13px;
 width: 180px;
 background: rgb(248, 177, 212);
 position: absolute;
 left:395px;
 top:188px;
 display: none;
}

.mouthtube5{
 height: 13px;
 width: 50px;
 background: rgb(248, 177, 212);
 position: absolute;
 left: 540px;
 top: 170px;
 display: none;
}

.mouthtube6{
 height: 13px;
 width: 100px;
 background: rgb(248, 177, 212);
 position: absolute;
 left: 550px;
 top: 153px;
 display: none;
}

.i1{
  height: 13px;
  width: 70px;
  background: rgb(248, 177, 212);
  position: absolute;
  left: 590px;
  top: 135px;
  display: none;
}

.i2{
  height: 13px;
  width: 40px;
  background: rgb(248, 177, 212);
  position: absolute;
  left: 585px;
  top: 118px;
  display: none;
}

.i3{
  height: 13px;
  width: 40px;
  background: rgb(248, 177, 212);
  position: absolute;
  left: 585px;
  top: 100px;
  display: none;
}

.i4{
  height: 13px;
  width: 40px;
  background: rgb(248, 177, 212);
  position: absolute;
  left: 585px;
  top: 82px;
  display: none;
}

.i5{
  height: 13px;
  width: 40px;
  background: rgb(248, 177, 212);
  position: absolute;
  left: 585px;
  top: 64px;
  display: none;
}

.i6{
  height: 13px;
  width: 40px;
  background: rgb(248, 177, 212);
  position: absolute;
  left: 588px;
  top: 48px;
  transform: rotate(20deg);
  display: none;
}

.i7{
  height: 13px;
  width: 40px;
  background: rgb(248, 177, 212);
  position: absolute;
  left: 595px;
  top: 37px;
  transform: rotate(60deg);
  display: none;
}

.i8{
  height: 35px;
  width: 13px;
  background: rgb(248, 177, 212);
  position: absolute;
  left: 630px;
  top: 24px;
  display: none;
}

.i9{
  height: 35px;
  width: 13px;
  background: rgb(248, 177, 212);
  position: absolute;
  left: 650px;
  top: 24px;
  display: none;
}

.i10{
  height: 35px;
  width: 13px;
  background: rgb(245, 101, 173);
  position: absolute;
  left: 670px;
  top: 24px;
  display: none;
}

.side1{
  height: 35px;
  width: 42px;
  background: rgba(248, 177, 212, .7);
  border-radius: 50% 0px 0px 50%;
  position: absolute;
  left:540px;
  top:24px;
  display: none;
}

.stomachetube1{
  height: 35px;
  width: 13px;
  background: rgb(245, 101, 173);
  position: absolute;
  left: 690px;
  top: 24px;
  display: none;
}

.stomachetube2{
  height: 35px;
  width: 13px;
  background: rgb(245, 101, 173);
  position: absolute;
  left: 710px;
  top: 24px;
  display: none;
}

.stomachetube3{
  height: 35px;
  width: 13px;
  background: rgb(245, 101, 173);
  position: absolute;
  left: 727px;
  top: 22px;
  transform: rotate(-10deg);
  display: none;
}

/*C*/
.stomache1{
  height: 50px;
  width: 12px;
  background: rgb(249, 21, 133);
  position: absolute;
  left: 755px;
  top: 15px;
  transform: rotate(-45deg);
  display: none;
}

.stomache2{
  height: 65px;
  width: 12px;
  background: rgb(249, 21, 133);
  position: absolute;
  left: 740px;
  top: 25px;
  transform: rotate(-70deg);
  display: none;
}

.stomache3{
  height: 12px;
  width: 75px;
  background: rgb(249, 21, 133);
  position: absolute;
  left: 700px;
  top: 72px;
  display: none;
}

.stomache4{
  height: 12px;
  width: 85px;
  background: rgb(249, 21, 133);
  position: absolute;
  left: 690px;
  top: 92px;
  display: none;
}

.stomache5{
  height: 12px;
  width: 90px;
  background: rgb(249, 21, 133);
  position: absolute;
  left: 690px;
  top: 110px;
  transform: rotate(-10deg);
  display: none;
}

.stomache6{
  height: 12px;
  width: 85px;
  background: rgb(249, 21, 133);
  position: absolute;
  left: 700px;
  top: 128px;
  transform: rotate(-25deg);
  display: none;
}

.stomache7{
  height: 70px;
  width: 12px;
  background: rgb(249, 21, 133);
  position: absolute;
  left: 750px;
  top: 110px;
  transform: rotate(40deg);
  display: none;
}

.stomache8{
  height: 55px;
  width: 12px;
  background: rgb(249, 21, 133);
  position: absolute;
  left: 770px;
  top: 120px;
  transform: rotate(15deg);
  display: none;
}

.stomache9{
  height: 50px;
  width: 12px;
  background: rgb(249, 21, 133);
  position: absolute;
  left: 787px;
  top: 125px;
  transform: rotate(5deg);
  display: none;
}

.stomache10{
  height: 45px;
  width: 12px;
  background: rgb(249, 21, 133);
  position: absolute;
  left: 804px;
  top: 127px;
  transform: rotate(5deg);
  display: none;
}

.stomache11{
  height: 40px;
  width: 12px;
  background: rgb(249, 21, 133);
  position: absolute;
  left: 820px;
  top: 135px;
  transform: rotate(20deg);
  display: none;
}

.stomache12{
  height: 30px;
  width: 12px;
  background: rgb(249, 21, 133);
  position: absolute;
  left: 830px;
  top: 150px;
  transform: rotate(45deg);
  display: none;
}



.stomachetop{
  height: 35px;
  width: 35px;
  background: rgb(249, 21, 133);
  border-radius:  0px 50% 50% 0px;
  position: absolute;
  left:780px;
  top:18px;
  display: none;
}

/*I2*/
.pancreas{
  display: none;
  z-index: 3;
}

.pancreas1{
  height: 20px;
  width: 20px;
  background: rgb(237, 182, 51);
  border-radius: 100%;
  position: absolute;
  left: 850px;
  top: 160px;
}

.pancreas2{
  height: 20px;
  width: 20px;
  background: rgb(237, 182, 51);
  border-radius: 100%;
  position: absolute;
  left: 870px;
  top: 170px;
}

.pancreas3{
  height: 20px;
  width: 20px;
  background: rgb(237, 182, 51);
  border-radius: 100%;
  position: absolute;
  left: 850px;
  top: 175px;
}

.pancreas4{
  height: 20px;
  width: 20px;
  background: rgb(237, 182, 51);
  border-radius: 100%;
  position: absolute;
  left: 835px;
  top: 170px;
}

.pancreas5{
  height: 20px;
  width: 20px;
  background: rgb(237, 182, 51);
  border-radius: 100%;
  position: absolute;
  left: 815px;
  top: 170px;
}

.pancreas6{
  height: 20px;
  width: 20px;
  background: rgb(237, 182, 51);
  border-radius: 100%;
  position: absolute;
  left: 800px;
  top: 180px;
}

.pancreas7{
  height: 20px;
  width: 20px;
  background: rgb(237, 182, 51);
  border-radius: 100%;
  position: absolute;
  left: 825px;
  top: 190px;
}

.pancreas8{
  height: 20px;
  width: 20px;
  background: rgb(237, 182, 51);
  border-radius: 100%;
  position: absolute;
  left: 870px;
  top: 150px;
}

.pancreas9{
  height: 20px;
  width: 20px;
  background: rgb(237, 182, 51);
  border-radius: 100%;
  position: absolute;
  left: 845px;
  top: 190px;
}

.pancreas10{
  height: 20px;
  width: 20px;
  background: rgb(237, 182, 51);
  border-radius: 100%;
  position: absolute;
  left: 780px;
  top: 195px;
}

.pancreas11{
  height: 20px;
  width: 20px;
  background: rgb(237, 182, 51);
  border-radius: 100%;
  position: absolute;
  left: 885px;
  top: 140px;
}

.pancreas12{
  height: 20px;
  width: 20px;
  background: rgb(237, 182, 51);
  border-radius: 100%;
  position: absolute;
  left: 810px;
  top: 195px
}

.pancreas13{
  height: 20px;
  width: 20px;
  background: rgb(237, 182, 51);
  border-radius: 100%;
  position: absolute;
  left: 745px;
  top: 187px;
}

.pancreas14{
  height: 20px;
  width: 20px;
  background: rgb(237, 182, 51);
  border-radius: 100%;
  position: absolute;
  left: 785px;
  top: 175px;
}

.pancreas15{
  height: 20px;
  width: 20px;
  background: rgb(237, 182, 51);
  border-radius: 100%;
  position: absolute;
  left: 760px;
  top: 180px;
}

.pancreas16{
  height: 20px;
  width: 20px;
  background: rgb(237, 182, 51);
  border-radius: 100%;
  position: absolute;
  left: 833px;
  top: 203px;
}

.pancreas17{
  height: 20px;
  width: 20px;
  background: rgb(237, 182, 51);
  border-radius: 100%;
  position: absolute;
  left: 804px;
  top: 207px;
}


.pancreas{
  z-index: 3;
}

.smallintestine1{
  height: 15px;
  width: 40px;
  background: red;
  position: absolute;
  left: 820px;
  top: 225px;
  display: none;
}

.smallintestine2{
  height: 15px;
  width: 40px;
  background: red;
  position: absolute;
  left: 820px;
  top: 245px;
  display: none;
}

.smallintestine3{
  height: 15px;
  width: 40px;
  background: red;
  position: absolute;
  left: 820px;
  top: 265px;
  display: none;
}

.smallintestine4{
  height: 15px;
  width: 40px;
  background: red;
  position: absolute;
  left: 825px;
  top: 285px;
  transform: rotate(-30deg);
  display: none;
}

.smallintestine5{
  height: 15px;
  width: 40px;
  background: red;
  position: absolute;
  left: 840px;
  top: 300px;
  transform: rotate(-80deg);
  display: none;
}

.smallintestine6{
  height: 40px;
  width: 15px;
  background: red;
  position: absolute;
  left: 873px;
  top: 290px;
  display: none;
}

.smallintestine7{
  height: 40px;
  width: 15px;
  background: red;
  position: absolute;
  left: 893px;
  top: 290px;
  display: none;
}

.gall{
  display: none;
}
.gall1{
  height: 50px;
  width: 60px;
  background: rgb(250, 196, 8);
  border-radius: 100%;
  position: absolute;
  left: 770px;
  top: 285px;
}

.gall2{
  height: 30px;
  width: 60px;
  border-radius: 30px 0 0 30px;
  border: solid 5px;
  border-color: rgb(250, 196, 8) transparent rgb(250, 196, 8) rgb(250, 196, 8);
  position: absolute;
  left: 750px;
  top: 270px
} 

/*s*/
.smallintestine8{
  height: 40px;
  width: 15px;
  background: rgb(250, 128, 8);
  position: absolute;
  left: 913px;
  top: 290px;
  display: none;
}

.smallintestine9{
  height: 40px;
  width: 15px;
  background: rgb(250, 128, 8);
  position: absolute;
  left: 933px;
  top: 290px;
  display: none;
}

.smallintestine10{
  height: 40px;
  width: 15px;
  background: rgb(250, 128, 8);
  position: absolute;
  left: 953px;
  top: 290px;
  display: none;
}

.smallintestine11{
  height: 40px;
  width: 15px;
  background: rgb(250, 128, 8);
  position: absolute;
  left: 973px;
  top: 285px;
  transform: rotate(-20deg);
  display: none;
}

.smallintestine12{
  height: 40px;
  width: 15px;
  background: rgb(250, 128, 8);
  position: absolute;
  left: 985px;
  top: 275px;
  transform: rotate(-60deg);
  display: none;
}

.smallintestine13{
  height: 15px;
  width: 40px;
  background: rgb(250, 128, 8);
  position: absolute;
  left: 973px;
  top: 275px;
  transform: rotate(-10deg);
  display: none;
}

.smallintestine14{
  height: 15px;
  width: 40px;
  background: rgb(250, 128, 8);
  position: absolute;
  left: 963px;
  top: 260px;
  transform: rotate(-40deg);
  display: none;
}

.smallintestine15{
  height: 40px;
  width: 15px;
  background: rgb(250, 128, 8);
  position: absolute;
  left: 958px;
  top: 238px;
  transform: rotate(10deg);
  display: none;
}

.smallintestine16{
  height: 40px;
  width: 15px;
  background: rgb(250, 128, 8);
  position: absolute;
  left: 940px;
  top: 235px;
  display: none;
}

.smallintestine17{
  height: 40px;
  width: 15px;
  background: rgb(250, 128, 8);
  position: absolute;
  left: 925px;
  top: 233px;
  transform: rotate(30deg);
  display: none;
}

.smallintestine18{
  height: 40px;
  width: 15px;
  background: rgb(250, 128, 8);
  position: absolute;
  left: 915px;
  top: 219px;
  transform: rotate(70deg);
  display: none;
}
.smallintestine19{
  height: 15px;
  width: 40px;
  background: rgb(250, 128, 8);
  position: absolute;
  left: 900px;
  top: 213px;
  transform: rotate(10deg);
  display: none;
}
.smallintestine20{
  height: 15px;
  width: 40px;
  background: rgb(250, 128, 8);
  position: absolute;
  left: 910px;
  top: 195px;
  transform: rotate(50deg);
  display: none;
}
.smallintestine21{
  height: 40px;
  width: 15px;
  background: rgb(250, 128, 8);
  position: absolute;
  left: 938px;
  top: 173px;
  display: none;
}
.smallintestine22{
  height: 40px;
  width: 15px;
  background: rgb(250, 128, 8);
  position: absolute;
  left: 958px;
  top: 173px;
  display: none;
}
.smallintestine23{
  height: 40px;
  width: 15px;
  background: rgb(250, 128, 8);
  position: absolute;
  left: 978px;
  top: 173px;
  display: none;
}

.smallintestine24{
  height: 40px;
  width: 15px;
  background: rgb(250, 128, 8);
  position: absolute;
  left: 998px;
  top: 173px;
  display: none;
}

.smallintestine26{
  height: 40px;
  width: 15px;
  background: rgb(250, 128, 8);
  position: absolute;
  left: 1018px;
  top: 173px;
  display: none;
}

/*I3*/
.smallintestine27{
  height: 40px;
  width: 15px;
  background: rgb(250, 213, 8);
  position: absolute;
  left: 1038px;
  top: 173px;
  display: none;
}
.smallintestine28{
  height: 40px;
  width: 15px;
  background: rgb(250, 213, 8);
  position: absolute;
  left: 1058px;
  top: 173px;
  display: none;
}
.smallintestine29{
  height: 40px;
  width: 15px;
  background: rgb(250, 213, 8);
  position: absolute;
  left: 1078px;
  top: 173px;
  display: none;
}
.smallintestine30{
  height: 40px;
  width: 15px;
  background: rgb(250, 213, 8);
  position: absolute;
  left: 1098px;
  top: 173px;
  display: none;
}
.smallintestine31{
  height: 40px;
  width: 15px;
  background: rgb(250, 213, 8);
  position: absolute;
  left: 1115px;
  top: 175px;
  transform: rotate(30deg);
  display: none;
}
.smallintestine32{
  height: 40px;
  width: 15px;
  background: rgb(250, 213, 8);
  position: absolute;
  left: 1127px;
  top: 190px;
  transform: rotate(60deg);
  display: none;
}
.smallintestine33{
  height: 15px;
  width: 40px;
  background: rgb(250, 213, 8);
  position: absolute;
  left: 1120px;
  top: 220px;
  display: none;
}
.smallintestine34{
  height: 15px;
  width: 40px;
  background: rgb(250, 213, 8);
  position: absolute;
  left: 1120px;
  top: 240px;
  display: none;
}
.smallintestine35{
  height: 15px;
  width: 40px;
  background: rgb(250, 213, 8);
  position: absolute;
  left: 1120px;
  top: 260px;
  display: none;
}
.smallintestine36{
  height: 15px;
  width: 40px;
  background: rgb(250, 213, 8);
  position: absolute;
  left: 1120px;
  top: 280px;
  display: none;
}
.smallintestine37{
  height: 15px;
  width: 40px;
  background: rgb(250, 213, 8);
  position: absolute;
  left: 1125px;
  top: 295px;
  transform: rotate(-30deg);
  display: none;
}
.smallintestine38{
  height: 15px;
  width: 40px;
  background: rgb(250, 213, 8);
  position: absolute;
  left: 1140px;
  top: 305px;
  transform: rotate(-60deg);
  display: none;
}
.smallintestine39{
  height: 40px;
  width: 15px;
  background: rgb(250, 213, 8);
  position: absolute;
  left: 1170px;
  top: 295px;
  display: none;
}

.villi1{
  height: 15px;
  width: 50px;
  background: rgb(247, 222, 10);
  border-radius: 100% 0px 0px 100%;
  position: absolute;
  left: 1070px;
  top: 290px;
  display: none;
}
.villi2{
  height: 15px;
  width: 50px;
  background: rgb(247, 222, 10);
  border-radius: 100% 0px 0px 100%;
  position: absolute;
  left: 1070px;
  top: 310px;
  display: none;
}
.villi3{
  height: 15px;
  width: 50px;
  background: rgb(247, 222, 10);
  border-radius:  0px 100% 100% 0px;
  position: absolute;
  left: 1160px;
  top: 180px;
  z-index: 4;
  display: none;
}
.villi4{
  height: 15px;
  width: 50px;
  background: rgb(247, 222, 10);
  border-radius: 0px 100% 100% 0px;
  position: absolute;
  left: 1160px;
  top: 200px;
  z-index: 4;
  display: none;
}




/*N*/


.smallintestine44{
  height: 38px;
  width: 15px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1190px;
  top: 295px;
  display: none;
}
.smallintestine45{
  height: 36px;
  width: 15px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1210px;
  top: 290px;
  transform: rotate(-30deg);
  display: none;
}
.smallintestine46{
  height: 32px;
  width: 15px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1220px;
  top: 275px;
  transform: rotate(-60deg);
  display: none;
}
.smallintestine47{
  height: 15px;
  width: 32px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1210px;
  top: 270px;
  display: none;
}
.smallintestine48{
  height: 15px;
  width: 32px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1210px;
  top: 250px;
  display: none;
}
.smallintestine49{
  height: 15px;
  width: 32px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1210px;
  top: 230px;
  display: none;
}
.smallintestine50{
  height: 15px;
  width: 32px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1210px;
  top: 210px;
  display: none;
}
.smallintestine51{
  height: 15px;
  width: 32px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1215px;
  top: 190px;
  transform: rotate(30deg);
  display: none;
}
.smallintestine52{
  height: 32px;
  width: 15px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1235px;
  top: 175px;
  display: none;
}
.smallintestine53{
  height: 15px;
  width: 32px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1240px;
  top: 190px;
  transform: rotate(-30deg);
  display: none;
}
.smallintestine54{
  height: 15px;
  width: 32px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1251px;
  top: 210px;
  transform: rotate(-30deg);
  display: none;
}
.smallintestine55{
  height: 15px;
  width: 32px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1261px;
  top: 230px;
  transform: rotate(-30deg);
  display: none;
}
.smallintestine56{
  height: 15px;
  width: 32px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1271px;
  top: 250px;
  transform: rotate(-30deg);
  display: none;
}
.smallintestine57{
  height: 15px;
  width: 32px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1281px;
  top: 270px;
  transform: rotate(-30deg);
  display: none;
}
.smallintestine58{
  height: 15px;
  width: 32px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1291px;
  top: 290px;
  transform: rotate(-30deg);
  display: none;
}
.smallintestine59{
  height: 15px;
  width: 32px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1301px;
  top: 305px;
  transform: rotate(-60deg);
  display: none;
}
.smallintestine60{
  height: 32px;
  width: 15px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1325px;
  top: 304px;
  display: none;
}
.smallintestine61{
  height: 15px;
  width: 32px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1330px;
  top: 305px;
  transform: rotate(40deg);
  display: none;
}
.smallintestine62{
  height: 15px;
  width: 32px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1335px;
  top: 290px;
  display: none;
}
.smallintestine63{
  height: 15px;
  width: 32px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1335px;
  top: 270px;
  display: none;
}
.smallintestine64{
  height: 15px;
  width: 32px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1335px;
  top: 250px;
  display: none;
}
.smallintestine65{
  height: 15px;
  width: 32px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1335px;
  top: 230px;
  display: none;
}
.smallintestine66{
  height: 15px;
  width: 32px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1335px;
  top: 210px;
  display: none;
}
.smallintestine67{
  height: 15px;
  width: 32px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1340px;
  top: 190px;
  transform: rotate(30deg);
  display: none;
}
.smallintestine68{
  height: 32px;
  width: 15px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1360px;
  top: 175px;
  display: none;
}
.smallintestine69{
  height: 32px;
  width: 15px;
  background: rgb(181, 145, 22);
  position: absolute;
  left: 1380px;
  top: 175px;
  display: none;
}
.smallintestine70{
  height: 32px;
  width: 15px;
  background: rgb(142, 98, 13);
  position: absolute;
  left: 1400px;
  top: 175px;
  display: none;
}

/*T*/
.smallintestine71{
  height: 32px;
  width: 15px;
  background: rgb(139, 81, 13);
  position: absolute;
  left: 1420px;
  top: 175px;
  display: none;
}
.smallintestine72{
  height: 32px;
  width: 15px;
  background: rgb(139, 81, 13);
  position: absolute;
  left: 1440px;
  top: 175px;
  display: none;
}
.smallintestine73{
  height: 32px;
  width: 15px;
  background: rgb(139, 81, 13);
  position: absolute;
  left: 1460px;
  top: 175px;
  display: none;
}
.smallintestine74{
  height: 32px;
  width: 15px;
  background: rgb(139, 81, 13);
  position: absolute;
  left: 1480px;
  top: 175px;
  display: none;
}

/*T*/
.smallintestine75{
  height: 32px;
  width: 15px;
  background: rgb(115, 49, 9);
  position: absolute;
  left: 1500px;
  top: 175px;
  display: none;
}
.smallintestine76{
  height: 32px;
  width: 15px;
  background: rgb(115, 49, 9);
  position: absolute;
  left: 1520px;
  top: 175px;
  display: none;
}
.smallintestine77{
  height: 32px;
  width: 15px;
  background: rgb(115, 49, 9);
  position: absolute;
  left: 1540px;
  top: 175px;
  display: none;
}
.smallintestine78{
  height: 32px;
  width: 15px;
  background: rgb(115, 49, 9);
  position: absolute;
  left: 1550px;
  top: 180px;
  transform: rotate(40deg);
  display: none;
}
/*villi*/
.smallvilli{
  display: none;
}

.smallvilli1{
  height: 130px;
  width: 30px;
  border-radius: 0 0 100% 100%;
  background: rgb(115, 49, 9);
  position: absolute;
  left: 1470px;
  top: 210px;
}
.smallvilli2{
  height: 20px;
  width: 10px;
  border-radius: 0 0 100% 100%;
  background: rgb(115, 49, 9);
  position: absolute;
  left: 1480px;
  top: 330px;
}
.smallvilli3{
  height: 20px;
  width: 10px;
  border-radius: 0 0 100% 100%;
  background: rgb(115, 49, 9);
  position: absolute;
  left: 1490px;
  top: 320px;
  transform: rotate(-30deg);
}
.smallvilli4{
  height: 20px;
  width: 10px;
  border-radius: 0 0 100% 100%;
  background: rgb(115, 49, 9);
  position: absolute;
  left: 1470px;
  top: 320px;
  transform: rotate(30deg);
}
.smallvilli5{
  height: 20px;
  width: 10px;
  border-radius: 0 0 100% 100%;
  background: rgb(115, 49, 9);
  position: absolute;
  left: 1465px;
  top: 308px;
  transform: rotate(60deg);
}
.smallvilli6{
  height: 20px;
  width: 10px;
  border-radius: 0 0 100% 100%;
  background: rgb(115, 49, 9);
  position: absolute;
  left: 1495px;
  top: 308px;
  transform: rotate(-60deg);
}
.smallvilli7{
  height: 10px;
  width: 20px;
  border-radius: 100% 0 0 100%;
  background: rgb(115, 49, 9);
  position: absolute;
  left: 1458px;
  top: 301px;
}
.smallvilli8{
  height: 10px;
  width: 20px;
  border-radius: 100% 0 0 100%;
  background: rgb(115, 49, 9);
  position: absolute;
  left: 1458px;
  top: 288px;
}
.smallvilli9{
  height: 10px;
  width: 20px;
  border-radius: 100% 0 0 100%;
  background: rgb(115, 49, 9);
  position: absolute;
  left: 1458px;
  top: 275px;
}
.smallvilli10{
  height: 10px;
  width: 20px;
  border-radius: 100% 0 0 100%;
  background: rgb(115, 49, 9);
  position: absolute;
  left: 1458px;
  top: 262px;
}
.smallvilli11{
  height: 10px;
  width: 20px;
  border-radius: 0 100% 100% 0;
  background: rgb(115, 49, 9);
  position: absolute;
  left: 1495px;
  top: 262px;
}
.smallvilli12{
  height: 10px;
  width: 20px;
  border-radius: 0 100% 100% 0;
  background: rgb(115, 49, 9);
  position: absolute;
  left: 1495px;
  top: 275px;
}
.smallvilli13{
  height: 10px;
  width: 20px;
  border-radius: 0 100% 100% 0;
  background: rgb(115, 49, 9);
  position: absolute;
  left: 1495px;
  top: 288px;
}
.smallvilli14{
  height: 10px;
  width: 20px;
  border-radius: 0 100% 100% 0;
  background: rgb(115, 49, 9);
  position: absolute;
  left: 1495px;
  top: 300px;
}

/*H*/
.smallintestine79{
  height: 15px;
  width: 32px;
  background: rgb(121, 15, 87);
  position: absolute;
  left: 1545px;
  top: 200px;
  display: none;
}
.smallintestine80{
  height: 15px;
  width: 32px;
  background: rgb(121, 15, 87);
  position: absolute;
  left: 1545px;
  top: 220px;
  display: none;
}
.smallintestine81{
  height: 15px;
  width: 32px;
  background: rgb(121, 15, 87);
  position: absolute;
  left: 1548px;
  top: 240px;
  transform: rotate(-20deg);
  display: none;
}
.smallintestine82{
  height: 32px;
  width: 15px;
  background: rgb(121, 15, 87);
  position: absolute;
  left: 1570px;
  top: 248px;
  transform: rotate(10deg);
  display: none;
}
.smallintestine83{
  height: 32px;
  width: 15px;
  background: rgb(121, 15, 87);
  position: absolute;
  left: 1590px;
  top: 250px;
  display: none;
}
.smallintestine84{
  height: 32px;
  width: 15px;
  background: rgb(121, 15, 87);
  position: absolute;
  left: 1610px;
  top: 250px;
  display: none;
}
.smallintestine85{
  height: 32px;
  width: 15px;
  background: rgb(121, 15, 87);
  position: absolute;
  left: 1630px;
  top: 250px;
  display: none;
}
.smallintestine86{
  height: 32px;
  width: 15px;
  background: rgb(121, 15, 87);
  position: absolute;
  left: 1648px;
  top: 252px;
  transform: rotate(20deg);
  display: none;
}
.smallintestine87{
  height: 15px;
  width: 32px;
  background: rgb(121, 15, 87);
  position: absolute;
  left: 1651px;
  top: 273px;
  transform: rotate(-20deg);
  display: none;
}
.smallintestine88{
  height: 15px;
  width: 32px;
  background: rgb(121, 15, 87);
  position: absolute;
  left: 1653px;
  top: 292px;
  display: none;
}
.smallintestine89{
  height: 15px;
  width: 32px;
  background: rgb(121, 15, 87);
  position: absolute;
  left: 1653px;
  top: 312px;
  display: none;
}
.smallintestine90{
  height: 15px;
  width: 32px;
  background: rgb(121, 15, 87);
  position: absolute;
  left: 1656px;
  top: 324px;
  transform: rotate(-40deg);
  display: none;
}

.h1{
  height: 65px;
  width: 32px;
  border-radius: 0 0 100% 100%;
  background: rgb(121, 15, 87);
  position: absolute;
  left: 1555px;
  top: 283px;
  display: none;
}
.h2{
  height: 70px;
  width: 32px;
  border-radius: 100% 100% 0 0;
  background: rgb(121, 15, 87);
  position: absolute;
  left: 1655px;
  top: 178px;
  display: none;
}

.smallintestine91{
  height: 32px;
  width: 15px;
  background: rgb(121, 15, 87);
  position: absolute;
  left: 1680px;
  top: 324px;
  display: none;
}
.smallintestine92{
  height: 32px;
  width: 15px;
  background: rgb(121, 15, 87);
  position: absolute;
  left: 1697px;
  top: 322px;
  transform: rotate(-20deg);
  display: none;
}

/*E*/
.smallintestine93{
  height: 15px;
  width: 32px;
  background: rgb(193, 26, 48);
  position: absolute;
  left: 1706px;
  top: 322px;
  transform: rotate(50deg);
  display: none;
}
.smallintestine94{
  height: 15px;
  width: 32px;
  background: rgb(193, 26, 48);
  position: absolute;
  left: 1715px;
  top: 302px;
  display: none;
}
.smallintestine95{
  height: 15px;
  width: 32px;
  background: rgb(193, 26, 48);
  position: absolute;
  left: 1715px;
  top: 282px;
  display: none;
}
.smallintestine96{
  height: 15px;
  width: 32px;
  background: rgb(193, 26, 48);
  position: absolute;
  left: 1715px;
  top: 262px;
  display: none;
}
.smallintestine97{
  height: 15px;
  width: 32px;
  background: rgb(193, 26, 48);
  position: absolute;
  left: 1718px;
  top: 252px;
  transform: rotate(40deg);
  display: none;
}
.smallintestine98{
  height: 32px;
  width: 15px;
  background: rgb(193, 26, 48);
  position: absolute;
  left: 1740px;
  top: 239px;
  display: none;
}
.smallintestine99{
  height: 32px;
  width: 15px;
  background: rgb(193, 26, 48);
  position: absolute;
  left: 1760px;
  top: 239px;
  display: none;
}
.smallintestine100{
  height: 32px;
  width: 15px;
  background: rgb(193, 26, 48);
  position: absolute;
  left: 1780px;
  top: 239px;
  display: none;
}
.smallintestine101{
  height: 32px;
  width: 15px;
  background: rgb(193, 26, 48);
  position: absolute;
  left: 1800px;
  top: 239px;
  display: none;
}
.smallintestine102{
  height: 32px;
  width: 15px;
  background: rgb(193, 26, 48);
  position: absolute;
  left: 1820px;
  top: 239px;
  display: none;
}

.eup{
  display: none;
}

.eup1{
  height: 68px;
  width: 30px;
  background: rgb(193, 26, 48);
  border-radius: 100%;
  position: absolute;
  left: 1710px;
  top: 180px;
}
.eup2{
  height: 30px;
  width: 120px;
  background: rgb(193, 26, 48);
  border-radius: 100%;
  position: absolute;
  left: 1720px;
  top: 170px;
}
.edown{
  height: 30px;
  width: 100px;
  background: rgb(193, 26, 48);
  border-radius: 100%;
  position: absolute;
  left: 1740px;
  top:310px;
  display: none;
}

.smallintestine103{
  height: 32px;
  width: 15px;
  background: rgb(239, 28, 167);
  position: absolute;
  left: 1835px;
  top: 242px;
  transform: rotate(30deg);
  display: none;
}
.smallintestine104{
  height: 32px;
  width: 15px;
  background: rgb(239, 28, 167);
  position: absolute;
  left: 1845px;
  top: 258px;
  transform: rotate(80deg);
  display: none;
}
.smallintestine105{
  height: 36px;
  width: 18px;
  background: rgb(239, 28, 167);
  position: absolute;
  left: 1853px;
  top: 277px;
  transform: rotate(80deg);
  display: none;
}

/*p*/
.smallintestine106{
  height: 45px;
  width: 20px;
  background: rgb(248, 73, 250);
  position: absolute;
  left: 1860px;
  top: 298px;
  transform: rotate(80deg);
  display: none;
}
.smallintestine107{
  height: 25px;
  width: 50px;
  background: rgb(248, 73, 250);
  position: absolute;
  left: 1850px;
  top: 335px;
  display: none;
}
.smallintestine108{
  height: 25px;
  width: 50px;
  background: rgb(248, 73, 250);
  position: absolute;
  left: 1850px;
  top: 367px;
  display: none;
}
.smallintestine109{
  height: 25px;
  width: 50px;
  background: rgb(248, 73, 250);
  position: absolute;
  left: 1850px;
  top: 400px;
  display: none;
}
.smallintestine110{
  height: 25px;
  width: 50px;
  background: rgb(248, 73, 250);
  position: absolute;
  left: 1850px;
  top: 435px;
  display: none;
}
.smallintestine111{
  height: 25px;
  width: 50px;
  background: rgb(248, 73, 250);
  position: absolute;
  left: 1850px;
  top: 470px;
  display: none;
}
.smallintestine112{
  height: 25px;
  width: 50px;
  background: rgb(248, 73, 250);
  position: absolute;
  left: 1850px;
  top: 505px;
  display: none;
}
.smallintestine113{
  height: 25px;
  width: 50px;
  background: rgb(248, 73, 250);
  position: absolute;
  left: 1850px;
  top: 545px;
  display: none;
}
.smallintestine114{
  height: 25px;
  width: 50px;
  background: rgb(248, 73, 250);
  position: absolute;
  left: 1850px;
  top: 580px;
  display: none;
}
.smallintestine115{
  height: 25px;
  width: 50px;
  background: rgb(248, 73, 250);
  position: absolute;
  left: 1850px;
  top: 615px;
  display: none;
}
.coli{
  display: none;
}
.coli1{
  background: rgb(255, 202, 75);
  width: 200px;
  height: 200px;
  border-radius: 100%;
  position: absolute;
  left: 1880px;
  top: 300px;
}
.coli2{
  background: rgb(249, 102, 4);
  width: 50px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 2050px;
  top: 400px;
}
.coli3{
  background: rgb(249, 102, 4);
  width: 50px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 2060px;
  top: 440px;
  transform: rotate(30deg);
}
.coli4{
  background: rgb(249, 102, 4);
  width: 50px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 2060px;
  top: 360px;
  transform: rotate(-30deg);
}
.coli5{
  background: rgb(249, 102, 4);
  width: 50px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 2030px;
  top: 320px;
  transform: rotate(-40deg);
}
.coli6{
  background: rgb(249, 102, 4);
  width: 20px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 2030px;
  top: 365px;
  transform: rotate(-20deg);
}
.coli7{
  background: rgb(249, 102, 4);
  width: 10px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  left: 2000px;
  top: 265px;
  transform: rotate(10deg);
}
.coli8{
  background: rgb(249, 102, 4);
  width: 40px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 2030px;
  top: 470px;
  transform: rotate(50deg);
}
.coli9{
  background: rgb(249, 102, 4);
  width: 30px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 2035px;
  top: 435px;
  transform: rotate(30deg);
}
.coli10{
  background: rgb(249, 102, 4);
  width: 12px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 2010px;
  top: 390px;
}
.coli11{
  background: rgb(249, 102, 4);
  width: 10px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: 1950px;
  top: 280px;
  transform: rotate(-15deg);
}
.coli12{
  background: rgb(249, 102, 4);
  width: 20px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 2000px;
  top: 340px;
  transform: rotate(-70deg);
}
.coli13{
  background: rgb(249, 102, 4);
  width: 10px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 2010px;
  top: 480px;
  transform: rotate(-10deg);
}
.coli14{
  background: rgb(249, 102, 4);
  width: 10px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: 1970px;
  top: 480px;
  transform: rotate(10deg);
}
.coli15{
  background: rgb(249, 102, 4);
  width: 50px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 1870px;
  top: 460px;
  transform: rotate(-30deg);
}
.coli16{
  background: rgb(249, 102, 4);
  width: 10px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: 1990px;
  top: 450px;
}
.coli17{
  background: rgb(249, 102, 4);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 2013px;
  top: 435px;
}
.coli18{
  background: rgb(249, 102, 4);
  width: 10px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  left: 1940px;
  top: 435px;
  transform: rotate(30deg);
}
.coli19{
  background: rgb(249, 102, 4);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 1970px;
  top: 410px;
}
.coli21{
  background: rgb(249, 102, 4);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 1970px;
  top: 365px;
}
.coli22{
  background: rgb(249, 102, 4);
  width: 10px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 2010px;
  top: 480px;
}
.coli23{
  background: rgb(249, 102, 4);
  width: 10px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 2010px;
  top: 480px;
}
.coli24{
  background: rgb(249, 102, 4);
  width: 10px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 2010px;
  top: 480px;
}
.coli25{
  background: rgb(249, 102, 4);
  width: 10px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 2010px;
  top: 480px;
}
.coli26{
  width: 250px;
  height: 250px;
  border: solid 10px;
  border-radius: 50%;
  border-color: transparent transparent transparent rgb(249, 102, 4);
  position: absolute;
  left:1810px;
  transform: rotate(40deg);
  top: 370px;
}
.coli27{
  width: 250px;
  height: 250px;
  border: solid 10px;
  border-radius: 50%;
  border-color: transparent rgb(249, 102, 4) transparent transparent;
  position: absolute;
  left: 1551px;
  transform: rotate(40deg);
  top: 390px;
}

/*R*/
.smallintestine116{
  height: 25px;
  width: 50px;
  background: rgb(247, 145, 248);
  position: absolute;
  left: 1855px;
  top: 643px;
  transform: rotate(-30deg);
  display: none;
}
.smallintestine117{
  height: 50px;
  width: 25px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 1890px;
  top: 650px;
  transform: rotate(20deg);
  display: none;
}
.smallintestine118{
  height: 50px;
  width: 25px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 1920px;
  top: 655px;
  display: none;
}
.smallintestine119{
  height: 50px;
  width: 25px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 1950px;
  top: 655px;
  display: none;
}
.smallintestine120{
  height: 50px;
  width: 25px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 1980px;
  top: 655px;
  display: none;
}
.smallintestine121{
  height: 50px;
  width: 25px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2010px;
  top: 655px;
  display: none;
}
.smallintestine122{
  height: 50px;
  width: 25px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2040px;
  top: 655px;
  display: none;
}
.smallintestine123{
  height: 50px;
  width: 25px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2070px;
  top: 655px;
  display: none;
}
.smallintestine124{
  height: 50px;
  width: 25px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2100px;
  top: 650px;
  transform: rotate(-30deg);
  display: none;
}
.smallintestine125{
  height: 50px;
  width: 25px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2125px;
  top: 630px;
  transform: rotate(-60deg);
  display: none;
}
.smallintestine126{
  height: 25px;
  width: 50px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2115px;
  top: 610px;
  display: none;
}
.smallintestine127{
  height: 25px;
  width: 50px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2115px;
  top: 575px;
  display: none;
}
.smallintestine128{
  height: 25px;
  width: 50px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2115px;
  top: 540px;
  display: none;
}
.smallintestine129{
  height: 25px;
  width: 50px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2115px;
  top: 505px;
  display: none;
}
.smallintestine130{
  height: 25px;
  width: 50px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2115px;
  top: 470px;
  display: none;
}
.smallintestine131{
  height: 25px;
  width: 50px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2115px;
  top: 435px;
  display: none;
}
.smallintestine132{
  height: 25px;
  width: 50px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2115px;
  top: 400px;
  display: none;
}
.smallintestine133{
  height: 25px;
  width: 50px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2115px;
  top: 365px;
  display: none;
}
.smallintestine134{
  height: 25px;
  width: 50px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2123px;
  top: 340px;
  transform: rotate(40deg);
  display: none;
}
.smallintestine135{
  height: 50px;
  width: 25px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2165px;
  top: 315px;
  display: none;
}
.smallintestine136{
  height: 50px;
  width: 25px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2200px;
  top: 315px;
  display: none;
}
.smallintestine137{
  height: 50px;
  width: 25px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2235px;
  top: 315px;
  display: none;
}
.smallintestine138{
  height: 50px;
  width: 25px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2270px;
  top: 320px;
  transform: rotate(10deg);
  display: none;
}
.smallintestine139{
  height: 50px;
  width: 25px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2290px;
  top: 340px;
  transform: rotate(50deg);
  display: none;
}
.smallintestine140{
  height: 25px;
  width: 50px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2290px;
  top: 390px;
  display: none;
}
.smallintestine141{
  height: 25px;
  width: 50px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2290px;
  top: 425px;
  display: none;
}
.smallintestine142{
  height: 25px;
  width: 50px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2280px;
  top: 458px;
  transform: rotate(50deg);
  display: none;
}
.smallintestine143{
  height: 50px;
  width: 25px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2260px;
  top: 458px;
  display: none;
}
.smallintestine144{
  height: 50px;
  width: 25px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2225px;
  top: 458px;
  display: none;
}
.smallintestine145{
  height: 50px;
  width: 25px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2190px;
  top: 470px;
  transform: rotate(-50deg);
  display: none;
}
.smallintestine146{
  height: 25px;
  width: 50px;
  background: rgb(246, 177, 247);
  position: absolute;
  left: 2170px;
  top: 510px;
  display: none;
}
.smallintestine147{
  height: 50px;
  width: 25px;
  background: rgb(244, 117, 245);
  position: absolute;
  left: 2190px;
  top: 520px;
  transform: rotate(50deg);
  display: none;
}
.smallintestine148{
  height: 55px;
  width: 28px;
  background: rgb(248, 69, 208);
  position: absolute;
  left: 2215px;
  top: 550px;
  transform: rotate(50deg);
  display: none;
}
.smallintestine149{
  height: 60px;
  width: 30px;
  background: rgb(248, 69, 179);
  position: absolute;
  left: 2242px;
  top: 582px;
  transform: rotate(50deg);
  display: none;
}
.smallintestine150{
  height: 65px;
  width: 35px;
  background: rgb(248, 69, 111);
  position: absolute;
  left: 2268px;
  top: 615px;
  transform: rotate(50deg);
  display: none;
}
.smallintestine151{
  height: 65px;
  width: 35px;
  background: rgb(248, 69, 111);
  position: absolute;
  left: 2268px;
  top: 615px;
  transform: rotate(50deg);
  display: none;
}
.smallintestine152{
  height: 65px;
  width: 35px;
  background: rgb(248, 69, 111);
  position: absolute;
  left: 2268px;
  top: 615px;
  transform: rotate(50deg);
  display: none;
}
.smallintestine153{
  height: 65px;
  width: 35px;
  background: rgb(248, 69, 111);
  position: absolute;
  left: 2268px;
  top: 615px;
  transform: rotate(50deg);
  display: none;
}
.smallintestine154{
  height: 65px;
  width: 35px;
  background: rgb(248, 69, 111);
  position: absolute;
  left: 2268px;
  top: 615px;
  transform: rotate(50deg);
  display: none;
}
.smallintestine155{
  height: 65px;
  width: 50px;
  background: rgb(249, 26, 32);
  position: absolute;
  left: 2310px;
  top: 640px;
  display: none;
}
.smallintestine156{
  height: 80px;
  width: 60px;
  background: rgb(249, 26, 32);
  position: absolute;
  left: 2360px;
  top: 615px;
  transform: rotate(-30deg);
  display: none;
}
.smallintestine157{
  height: 200px;
  width: 20px;
  background: rgb(249, 26, 32);
  position: absolute;
  left: 2430px;
  top: 530px;
  transform: rotate(-30deg);
  display: none;
}

/*o*/
.shit1{
  height: 350px;
  width: 350px;
  background: rgb(104, 70, 17);
  border-radius: 100%;
  position: absolute;
  left: 2425px;
  top: 325px;
  display: none;
}
.shit2{
  display: none;
}
.s2{
  height: 50px;
  width: 120px;
  border: solid 80px;
  border-radius: 100% 50% 0 100%;
  border-color: rgb(104, 70, 17) transparent rgb(104, 70, 17) rgb(104, 70, 17);
  position: absolute;
  left: 2800px;
  top: 340px;
}
.s3{
  height: 50px;
  width: 120px;
  border: solid 80px;
  border-radius: 0 100% 100% 0;
  border-color: rgb(104, 70, 17) rgb(104, 70, 17) rgb(104, 70, 17) transparent;
  position: absolute;
  left: 2820px;
  top: 463px;
}
.shit3{
  display: none;
}

.s4{
  height: 50px;
  width: 120px;
  border: solid 80px;
  border-radius: 100% 50% 0 100%;
  border-color: rgb(104, 70, 17) transparent rgb(104, 70, 17) rgb(104, 70, 17);
  position: absolute;
  left: 3100px;
  top: 340px;
}
.s5{
  height: 50px;
  width: 120px;
  border: solid 80px;
  border-radius: 0 100% 100% 0;
  border-color: rgb(104, 70, 17) rgb(104, 70, 17) rgb(104, 70, 17) transparent;
  position: absolute;
  left: 3120px;
  top: 463px;
}

.box{
  height: 50px;
  width: 50px;
  position: absolute;
  left: 3400px;
}



































  





